body {
    background-color: wheat
}

h2 {
    color: red;
    text-align: center;
    font-size: 50px;
}

h1 {
    color: seagreen;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    padding: 0 10px;
    display: block;
    line-height: 50px;
}

.para1 {
    font-size: 20px;
    color: brown;
}

footer {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

body>p>img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}